
.selection-wrapper {
    .selection-header {

    }
    .selection-radios {
        margin: 1.75rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        input {
            height: 1.5rem;
            width: 1.5rem;
            margin-top: 0.5rem;
        }
        label {
            margin-left: 0.25rem;
            font-size: 1.5rem;
        }
    }
}

.textfield {
    input, textarea, select {
        border-radius: 0.375rem;
        border-color: var(--primary-color);
        border-style: solid;
        border-width: 2px;
        &:hover, &:focus {
            box-shadow: none;
            border-color: var(--secondary-color);
        }
    }
}

.switches {
    padding: 0.5rem;
    input {
        margin-top: 0;
        border: 2px solid var(--black-color);
        margin-right: 0.25rem;
        color: var(--primary-color);
        height: 1.5rem;
        width: 3rem !important;
        &:hover, &:focus, &:checked {
            box-shadow: none;
            background-color: var(--primary-color);;
            border-color: var(--secondary-color);
            border-width: 2px;
        }
    }
}

.option-search {
    &__control {
        border-radius: 0.375rem !important;
        border-color: var(--primary-color) !important;
        border-style: solid !important;
        border-width: 2px !important;
        &:hover, &:focus {
            border-color: var(--secondary-color) !important;
        }
    }
    &__indicator-separator {
        background-color: var(--black-color) !important;
    }
    &__indicator {
        color: var(--black-color) !important;
    }
    &__multi-value {
        background-color: var(--primary-color) !important;
        border-radius: 10px;
        &__label, &__remove  {
            font-size: 1rem !important;
            color: var(--white-color) !important;
        }
        &__remove {
            svg {
                height: 20px;
                width: 20px;
            }
            &:hover, &:focus, &:active {
                background-color: var(--secondary-color) !important;
                color: var(--black-color) !important;
            }
        }
    }
}

.redirect-button {
    color: -webkit-link !important;
}

.back-button, .redirect-button {
    color: var(--primary-color);
    background-color: transparent;
    border: none;
    font-size: 1.75rem;
    width: auto;
    &:hover, &:focus {
        border: none;
        color: var(--primary-color);
        background-color: transparent;
        font-weight: bold;
    }
}

.display {
    margin: 0 1rem 1rem;
    border-left: 2px solid var(--primary-color);
    background-color: #f4f4f4;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3),
    -2px -2px 2px rgba(0, 0, 0, 0.1);
    .array {
        border-right: 2px solid var(--primary-color);
        margin-top: 1rem;
        background-color: #e8e8e8;
    }
    a {
        color: -webkit-link !important;
    }
}
.display-description {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    h2 {
        text-decoration: underline;
    }
}
.display-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    background-color: var(--primary-color);
    h1 {
        color: var(--white-color) !important;
        margin-top: 1rem;
    }
}
