.notification {
    position: fixed;
    bottom: 50%;
    transform: translateY(50%);
    width: 50%;
    height: 50%;
    z-index: 9999;
    background-color: var(--primary-color); /* Adjust the transparency as needed */
    opacity: 0.95;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @keyframes scaleFont {
        0% {
            font-size: 0;
        }
        100% {
            font-size: 8rem;
        }
    }

    i {
        &::before {
            font-size: 0;
            color: white;
            animation: scaleFont 1.5s ease-in-out forwards;
        }
    }

    .notification-message {
        margin: 0;
        padding: 10px;
        text-align: center;
        font-size: 2rem;
    }
}
