.directory-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;

    @media screen and (max-width: 1000px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.directory-folder {
    max-width: 100%;
    margin: 1rem 0 1rem;
    border: 2px solid var(--secondary-color);
    border-radius: 0.375rem;
    padding: 1.5rem;
    font-size: 1.25rem;
    .directory-header {
        text-decoration: underline;
    }
    .-button {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        font-weight: bold;
        text-align: start;
        white-space: normal;
        background-color: var(--white-color);
        color: var(--primary-color);
        border: 2px solid var(--secondary-color);
        i {
            font-size: 2rem;
        }
    }
    .directory-item {
        font-size: 1.25rem;
        .item-button {
            padding: 0;
            border: none;
            text-decoration: underline;
            background-color: var(--white-color);
            color: var(--primary-color);
            font-size: inherit;
            font-weight: bold;
            display: flex;
        }
    }
}
